# General
.DS_Store
.idea/
.vscode/
.build/
.cursor/

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
**/xcuserdata/
.swiftpm/xcode/xcuserdata/
*.xcworkspace/


# Common iOS/Swift
*.swp
*.moved-aside
timeline.xctimeline
playground.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/

