# General
.DS_Store
.idea/
build/
.vscode/
.build/
.cursor/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Common iOS/Swift
*.swp
*.moved-aside
timeline.xctimeline
playground.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/

